name: Automatically create PRs for detected spelling mistakes.

on:
  push:

jobs:
  misspell:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      
      - uses: sobolevn/misspell-fixer-action@master
      
      - uses: peter-evans/create-pull-request@v7.0.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
